<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-img class="eg-logo" src="assets/eg-logo-black.png"></ion-img>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="intro">
        <ion-label>Intro</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="message">
        <ion-label>Message</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="theme">
        <ion-label>Theme</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>