<ion-grid>
  <ion-row>
    <ion-col class="ion-padding">
      <ion-text color="primary">
        <h5 class="ion-text-center ion-text-uppercase">Theme</h5>
      </ion-text>
      <ion-text color="dark">
        <h1 class="ion-text-center">
          Key Verse
        </h1>
        <article>
          <blockquote>
            "Look, I am coming soon! Blessed is the one who keeps the words of the
            prophecy written in this scroll."

            <span class="reference">
              Revelations 22:7 (NIV)
            </span>
          </blockquote>
        </article>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-padding">
      <ion-text color="dark">
        <h1 class="ion-text-center">
          Supporting Verses
        </h1>
        <article>
          <blockquote>
            "And do this, understanding the present time: The hour has already come for you to wake up from your
            slumber, because our salvation is nearer now than when we first believed."

            <span class="reference">
              Romans 13:11 (NIV)
            </span>
          </blockquote>
          <blockquote>
            "This is why it is said: Wake up, sleeper, rise from the dead, and Christ will shine on you. Be very careful
            how you live - not as unwise but as wise, making the most of every opportunity, because the days are
            evil. [Therefore do not be foolish, but understand what the Lord's will is.]"

            <span class="reference">
              Ephesians 5:14-16 [17] (NIV)
            </span>
          </blockquote>
        </article>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-grid>