table {
  width: 100%;

  td {
    border: 1px solid;
    border-color: var(--ion-color-tertiary-shade);
    font-size: .75rem;
    line-height: 1rem;

    &:nth-child(1) {
      width: 40%;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 400;
      color: var(--ion-color-primary);
      text-align: center;
    }
  }
}