<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-img class="eg-logo" src="assets/EG LOGO Black.png"></ion-img>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ng-container *ngFor="let item of (Staff$ | async)?.values">
          <h1 *ngIf="item.length === 1" class="ion-text-uppercase">{{item[0]}}</h1>
          <h5 *ngIf="item.length > 1">{{item[1]}}</h5>
        </ng-container>
      </ion-col>
    </ion-row>
    <ion-row class="eg-logos">
      <ion-col>
        <ion-img [src]="'assets/YAM LOGO 2018.jpg'"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img [src]="'assets/WIT TAG Black NB.png'"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>